<launch>
  <param name="/use_sim_time" value="true" />

  <!-- start world -->
   <arg name="rviz"     default="true"/>

  <!-- Pal launch file -->
  <!-- <node name="gazebo" pkg="gazebo_ros" type="gazebo" 
   args="$(find gazebo_ros)/launch/empty_world.launch" respawn="false" output="screen" /> -->

  <!--Simple launch file   -->
  <node name="rviz" pkg="rviz" type="rviz" if="$(arg rviz)" args="-d $(find mrs_main)/rviz/multi_robot.rviz"/>
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" 
   args="$(find mrs_main)/worlds/small_house.world" respawn="false" output="screen" />
   <!-- Navigation planning  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find mrs_main)/map/small_house.yaml">
      <param name="frame_id" value="/map" />
  </node>

<!-- move_base data preparation -->
 <group ns="robot1">
    <param name="tf_prefix" value="robot1" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
      <remap from="map" to="/map" />
      <param name="controller_frequency" value="10.0" />
      <rosparam file="$(find mrs_main)/param/robot1/common_costmap_param.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find mrs_main)/param/robot1/common_costmap_param.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find mrs_main)/param/robot1/local_costmap_conf.yaml" command="load" />
      <rosparam file="$(find mrs_main)/param/robot1/global_costmap_conf.yaml" command="load" />
      <rosparam file="$(find mrs_main)/param/robot1/base_local_planner_params.yaml" command="load" />
    </node>
  </group>

 <group ns="robot2">
    <param name="tf_prefix" value="robot2" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
      <remap from="map" to="/map" />
      <param name="controller_frequency" value="10.0" />
      <rosparam file="$(find mrs_main)/param/robot2/common_costmap_param.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find mrs_main)/param/robot2/common_costmap_param.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find mrs_main)/param/robot2/local_costmap_conf.yaml" command="load" />
      <rosparam file="$(find mrs_main)/param/robot2/global_costmap_conf.yaml" command="load" />
      <rosparam file="$(find mrs_main)/param/robot2/base_local_planner_params.yaml" command="load" />
    </node>
  </group>

   <group ns="robot3_dirty">
    <param name="tf_prefix" value="robot3_dirty" />
    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
      <remap from="map" to="/map" />
      <param name="controller_frequency" value="10.0" />
      <rosparam file="$(find mrs_main)/param/robot3_dirty/common_costmap_param.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find mrs_main)/param/robot3_dirty/common_costmap_param.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find mrs_main)/param/robot3_dirty/local_costmap_conf.yaml" command="load" />
      <rosparam file="$(find mrs_main)/param/robot3_dirty/global_costmap_conf.yaml" command="load" />
      <rosparam file="$(find mrs_main)/param/robot3_dirty/base_local_planner_params.yaml" command="load" />
    </node>
  </group>



  <!-- include our robots -->
  <include file="$(find mrs_main)/launch/robots.launch"/>

</launch>